body, html {
	height: 100%;
	margin: 0;
}

body {
	background-color: #769fe2;
}

h1{
	font-size: 50px;
}

#container {
	font-family: Arial;
	text-align: center;
	background-color: white;
	width: 700px;
	height: 80%;
	margin: auto;
	margin-top: 40px;
	padding-top: 15px;
	box-shadow: 10px 10px #B8B8B8;
}

#content{
	font-size: 24px;
}

.answerBox{
	color: white;
	padding: 20px 0px;
	background-color: #e8443c;
	border: 0px solid #e8443c;
	border-radius: 50px;
	/*box-shadow: 3px 3px #C0C0C0;*/
	max-width: 50%;
	margin: auto;
	margin-bottom: 5px;
}

.answerBox:hover {
	background-color: #f76059;
	cursor: pointer;
}

#startButton, #restartButton{
	font-size: 50px;
	color: white;
	border: 0px solid;
	background-color: #e8443c;
	padding: 25px 100px;
	cursor: pointer;
	box-shadow: 4px 4px #C0C0C0;
}

#startButton:hover, #restartButton:hover {
	background-color: #f76059;
}

#restartButton{
	display: none;
}